<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thumeLeaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vacancies List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>
<body>
 <img th:src="@{/images/jobimages.png}" width="136" height="136">
  <h1 style="color: blue">Vacancies List</h1>

  <table class="table table-hover table-bordered table-striped" >
      <thead class="thead-light">
      <tr>
          <th>Logo</th>
          <th>Id</th>
          <th>Name</th>
          <th>Publication date</th>
          <th>Salary</th>
          <th>Description</th>
          <th>Highlighted</th>
          <th>Details</th>
          <th>Delete</th>
      </tr>
      </thead>


      <tr th:each="vacancy : ${vacancies}">
          <td>
              <img th:src="@{/images/{img} (img=${vacancy.image})}" width="136" height="136">
          </td>
          <td th:text="${vacancy.id}"></td>
          <td th:text="${vacancy.name}"></td>
          <td th:text="${vacancy.date}"></td>
          <td th:text="${vacancy.salary}"></td>
          <td th:text="${vacancy.description}"></td>
         <!--
          <td th:text="${vacancy.highlighted}"></td>
          <td th:text="${vacancy.highlighted == 1 ? 'Yes' : 'No' }"></td>
          -->
          <td>
              <span th:if="${vacancy.highlighted == 1}"class="badge badge-success">Yes</span>
              <span th:unless="${vacancy.highlighted == 1}"class="badge badge-danger">No</span>
          </td>
          <td>
              <a th:href="@{/vacancies/view/{id} (id=${vacancy.id})}" class="btn btn-success">Details</a>
          </td>
          <td>
              <a th:href="@{/vacancies/delete/(id=${vacancy.id})}" class="btn btn-danger">Delete</a>
          </td>

      </tr>

  </table>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>