<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Jobs App | Job Offer Creation</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
</head>

<body>

<header th:insert="fragments/menu :: main-menu">

</header>

<main role="main">
    <hr>
    <div class="container">

        <div class="card">
            <h4 class="card-header"><strong>Job Offer Information</strong></h4>
            <div class="card-body">
                <form th:action="@{/vacancies/save}" method="post" th:object="${vacancy}">
                   <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger" role="alert">
                       Please fix the following:
                       <ul>
                           <li th:each="err : ${#fields.errors('*')}" th:text="${err}"/>
                       </ul>
                   </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" id="name" name="name"
                                       placeholder="Job offer title" required="required">
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <label for="description">Description</label>
                                <input type="text" class="form-control" id="description" name="description"
                                       placeholder="Brief job offer description" required="required">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="category">Category</label>
                                <select class="form-control" name="category" id="category">
                                    <option value="1">Sales</option>
                                    <option value="2">Accounting</option>
                                    <option value="3">Transportation</option>
                                    <option value="4">IT</option>
                                    <option value="5">Construction</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="status">Status</label>
                                <select class="form-control" name="status" id="status">
                                    <option value="Created">Created</option>
                                    <option value="Approved">Approved</option>
                                    <option value="Deleted">Deleted</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="date">Publication Date</label>
                                <input type="text" class="form-control" name="date" id="date"
                                       placeholder="Publication Date" required="required">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-check">
                                <label class="form-check-label" for="highlighted0"></label><br>
                                <input class="form-check-input" type="radio" name="highlighted" id="highlighted"
                                       value="1" checked="checked">
                                <label class="form-check-label" for="highlighted1">highlighted</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="highlighted" id="highlighted2"
                                       value="0">
                                <label class="form-check-label" for="highlighted2">No highlighted</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="salary">Offered salary (Aprox)</label>
                                <input type="text" class="form-control" name="salary" id="salary"
                                       placeholder="Approximate salary." required="required">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="fileimage">Image</label>
                                <input type="file" class="form-control-file" name="fileimage" id="fileimage">
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-9">
                            <div class="form-group">
                                <label for="details"><strong>Details</strong></label>
                                <textarea class="form-control" name="details" id="details" rows="7"></textarea>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="image">Image/Logo</label>
                            <img class="rounded mx-auto d-block" src="images/construccion-logo.png"
                                 alt="Generic placeholder image" width="200" height="200">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div> <!-- /container -->

</main>

<footer class="footer" th:insert="fragments/footer :: footer">
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script src="tinymce/tinymce.min.js"></script>
<script>

    $(function () {
            $("#fecha").datepicker({dateFormat: 'mm-dd-yy'});
        }
    );

    /*
    tinymce.init({
        selector: '#detalles',
        plugins: "textcolor, table lists code",
        toolbar: " undo redo | bold italic | alignleft aligncenter alignright alignjustify \n\
                  | bullist numlist outdent indent | forecolor backcolor table code"
    });

    */

</script>
</body>
</html>